<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Rock Paper Scissors</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-slate-100 min-h-svh">
  <button type="submit" class="text-right pr-4 pt-2 min-w-full fixed c">&#10226; Reset</button>
  <div class="flex flex-col justify-center items-center mt-5 px-8 container">
 
  <div class="text-center text-2xl text-black min-h-[7rem] dis">&nbsp;</div>
  <div class="scoreboard" >
    
      <h1 class="inline init1"><span>You</span><span class="text-3xl">0</span> </h1> 
      <h1 class="inline text-9xl font-semibold init">:</h1>
  <h1 class="inline init2"><span class="text-3xl">0</span><span>bot</span></h1>
  </div>
  <button type="submit" class="bg-green-700 my-12  block text-white text-3xl px-7 py-1 rounded-full s">Save my score</button>
<div class="flex flex-row gap-2 sm:gap-12">
  
   <button type="submit" class="p-7 bg-blue-700 rounded-2xl text-4xl fist-up">✊</button>

  <button type="submit" class="p-7 bg-slate-200 rounded-2xl text-4xl hands-up">✋</button>
    <button type="submit" class="p-7 bg-red-700 rounded-2xl text-4xl fingers-up">✌️</button>
     
       
</div>
 
  </div>
  <footer class="mt-10"><div class="text-center text-black">All Rights Reserved</div></footer>
  <script src="/main.js"></script>
</body>
</html>